.active {
  border-right: 0.2rem solid var(--primary-border-color) !important;
}

.navbar-route-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  width: 10rem;
  border-right: 0.2rem solid transparent;
}

.navbar-route-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 0 0.5rem;
}

.navbar-route-container img {
  width: 1.5rem;
}

.navbar-route-container span {
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: var(--primary-invert-color);
}

/* animation */

.navbar-route-wrapper:hover {
  border-right: 0.2rem solid var(--primary-border-color);
}
