.navbar-wrapper {
  display: inline-flex;
  height: 100%;
}

.navbar-container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navbar-routes {
  display: flex;
  flex-direction: column;
}