.navbar-wrapper {
  margin: 0 15px;
  display: inline-flex;
  height: 100%;
}

.navbar-container {
  background-color: var(--primary-color);
  margin: 1rem 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

.navbar-routes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}