.dashboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
  width: 100%;
  /* height: 100%; */
  margin: 15px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  font-size: 3rem;
  gap: 2rem;
}

.dashboard-container > img {
  width: 10rem;
}
