* {
  --primary-color: #FFFFFF;
  --secondary-color: #EFEFEF;
  --primary-invert-color: #000000;
  --secondary-invert-color: #9a9a9a;
  --primary-bg-color: #231F20;
  --secondary-bg-color: #0A1929;
  --primary-fg-color: #EFEFEF;
  --secondary-fg-color: #FF8A00;
  --primary-border-color: #01D7FF;
  --secondary-border-color: ##3066BE;
  --primary-container-color: #003B49;
  --secondary-container-color: #1D123D;
  --primary-dropdown-color: #000000;
  --secondary-dropdown-color: #001C38;
}