.login-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
}

.login-container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3rem;
  gap: 1rem;
  border-radius: 15px;
}

.login-container > h1 {
  padding: 0;
  margin: 0;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-input-container > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-invert-color);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.login-input-container > input:focus {
  border-bottom: 2px solid var(--primary-border-color);
  outline: none;
} 

.login-submit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.login-submit-container > button {
  background-color: transparent;
  border: 1px solid var(--primary-border-color);
  color: var(--primary-border-color);
  padding: 1rem 0;
  border-radius: 10px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.login-submit-container > button:hover {
  background-color: var(--primary-border-color);
  color: var(--primary-color);
}
