.dashboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.dashboard-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 2rem;
}

.dashboard-container > img {
  width: 10rem;
}
