.letterreply-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.letterreply-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 65%;
  margin: 0 15px;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  gap: 10px;
  background-color: var(--primary-fg-color);
}

.letterreply-content {
  font-size: 1rem;
}

.from-you {
  align-items: flex-start;
}

.from-you .letterreply-container {
  background-color: var(--primary-border-color);
}

.letterreply-timestamp {
  color: var(--secondary-invert-color);
  animation: timestamp-reveal-reverse 0.1s forwards linear;
}

.letterreply-container:hover .letterreply-timestamp {
  animation: timestamp-reveal 0.1s forwards linear;
}

@keyframes timestamp-reveal {
  from {
    font-size: 0rem;
  }
  to {
    font-size: 0.9rem;
  }
}

@keyframes timestamp-reveal-reverse {
  from {
    font-size: 0.9rem;
  }
  to {
    font-size: 0rem;
  }
}