.letterview-wrapper {
  background-color: var(--secondary-color);
  margin: 1rem;
  display: flex;
  border-radius: 15px;
}

.letterview-container {
  background-color: var(--primary-color);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.letterview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.letterview-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-invert-color);
}

.letterview-header-time {
  color: var(--secondary-invert-color);
}

.letterview-header > h1 {
  margin: 0;
}

.letterview-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 1rem;
}

.letterview-content {
  padding: 1rem 0;
  gap: 1rem;
  overflow: hidden;
}

.letterview-content > p {
  margin: 0;
  text-align: justify;
  font-size: 1.1rem;
}

.letterview-reply-list {
  border-top: 1px solid var(--primary-invert-color);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.letterview-reply-list::-webkit-scrollbar {
  width: 5px;
}

.letterview-reply-list::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.letterview-reply-list::-webkit-scrollbar-thumb {
  background: var(--secondary-invert-color);
  border-radius: 5px;
}

.letterview-reply-list::-webkit-scrollbar-button {
  background: none;
}

.letterview-reply-compose {
  display: flex;
  width: 100%;
  height: 3rem;
  padding-top: 2rem;
  padding-bottom: 0.2rem;
  gap: 1rem;
  justify-content: space-between;
  border-top: 1px solid var(--primary-invert-color);
}

.letterview-reply-compose > input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid var(--primary-invert-color);
  font-size: 1.3rem;
  padding: 10px;
  font-weight: 400;
}

.letterview-reply-compose > input:focus {
  outline: none;
  border-radius: 10px;
  border: 2px solid var(--primary-border-color);
} 

.letterview-reply-compose > button {
  width: 10%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px solid var(--primary-invert-color);
  background-color: transparent;
}

.letterview-reply-compose > button:hover {
  border: 2px solid var(--primary-border-color);
  background-color: var(--primary-border-color);
}

.letterview-reply-compose img {
  width: 1.6rem;
}
