.lettermini-wrapper {
  width: 20rem;
}

.lettermini-container {
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}

.lettermini-container:hover {
  border: 2px solid var(--primary-border-color);
}

.lettermini-container > h4 {
  margin: 0;
}

.lettermini-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lettermini-timestamp {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--secondary-invert-color);
}

.lettermini-pending .lettermini-status {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 50%;
  outline: 1px solid var(--secondary-invert-color);
}

.lettermini-read .lettermini-status {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 50%;
  outline: 1px solid var(--primary-border-color);
}

.lettermini-replied .lettermini-status {
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-border-color);
  border-radius: 50%;
  outline: 1px solid var(--primary-border-color);
}

.lettermini-timestamp {
  display: flex;
  align-items: center;
  gap: 2rem;
}
