#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sizedView {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 1rem;
  border-radius: 15px;
  overflow: hidden;
}