.profile-wrapper {
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.profile-container {
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.profile-card {
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  padding: 15px 25px;
}

.profile-role-pill {
  border: 1px solid var(--primary-border-color);
  display: inline-flex;
  padding: 2px 15px;
  border-radius: 5px;
  color: var(--primary-border-color);
}

.profile-card-details {
  gap: 0.2rem;
}

.profile-card-details p {
  margin: 0;
}

.profile-card-details h1 {
  margin: 0;
}

.profile-action-logout {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.profile-action-logout button {
  flex-grow: 0;
  padding: 10px 30px;
  font-size: 1rem;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  border-radius: 10px;
  animation: border forwards linear 0.3s forwards;
}

.profile-action-logout button:hover {
  border: 1px solid red;
  background-color: transparent;
  color: red;
}
