.letterbox-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.letterbox-container {
  display: flex;
  width: 100%;
}

.letterbox-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--secondary-color);
  margin: 1rem 0;
  border-radius: 15px;
  position: relative;
}

.letterbox-list {
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px 10px;
  gap: 10px;
}

.letterbox-list::-webkit-scrollbar {
  width: 5px;
}

.letterbox-list::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.letterbox-list::-webkit-scrollbar-thumb {
  background: var(--primary-border-color);
  border-radius: 5px;
}

.letterbox-list::-webkit-scrollbar-button {
  background: none;
}

.compose-letter-button-wrapper {
  width: calc(100% - 2rem + 10px);
}

.compose-letter-button-container {
  width: 100%;
  border: none;
  background-color: var(--primary-border-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 1.2rem;
  border-radius: 10px;
  letter-spacing: 1px;
}
