.letterbox-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.letterbox-container {
  display: flex;
}

.letterbox-list-container {
  display: flex;
  background-color: var(--secondary-color);
  margin: 1rem 0;
  border-radius: 15px;
}

.letterbox-list {
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px 10px;
  gap: 10px;
}

.letterbox-list::-webkit-scrollbar {
  width: 5px;
}

.letterbox-list::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.letterbox-list::-webkit-scrollbar-thumb {
  background: var(--primary-border-color);
  border-radius: 5px;
}

.letterbox-list::-webkit-scrollbar-button {
  background: none;
}
